<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "thesky___" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body class="background flex flex-col min-h-screen">

    <%= render 'layouts/header' %>


    <main class="font-sans flex-grow">
      <div class="container mx-auto px-4 py-20">
        <%= yield %>
      </div>
    </main>


    <footer class="bg-gray-800 text-white py-6 mt-auto">
      <div class="container mx-auto md:text-xl text-sm text-center">
        <p>&copy; 2025 Designed and Developed by Aakash Dawadi</p>
        <p>All Rights Reserved</p>
        <div class="flex justify-center space-x-6 mt-4">
          <%= link_to "", target: "_blank", class: "hover:text-gray-400 transition" do %>
            <i class="fa-brands fa-x-twitter fa-xl"></i>
          <% end %>
          <%= link_to "", target: "_blank", class: "hover:text-gray-400 transition" do %>
            <i class="fa-brands fa-linkedin fa-2xl"></i>
          <% end %>
          <%= link_to "", target: "_blank", class: "hover:text-gray-400 transition" do %>
            <i class="fa-brands fa-medium fa-xl"></i>
          <% end %>
        </div>
      </div>
    </footer>

    <!-- Mobile Toggle Script -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.getElementById("menu-toggle");
        const mobileMenu = document.getElementById("mobile-menu");
        const desktopMenu = document.getElementById("menu");

        menuToggle?.addEventListener("click", () => {
          mobileMenu.classList.toggle("hidden");
          desktopMenu.classList.add("hidden");
        });
      });
    </script>
  </body>
</html>
